
.game-card {
  z-index: 1;
  transform-origin: bottom;
}

.backside-game-card{
  z-index: 1;
  transform: rotate(180deg);
  
}

.backside-image{
  width: 150px;
  
}

.card-cost {
  top: 4px;
  left: 11px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 30px;
}

.card-image {
  width: 105px;
  top: 11px;
  border-radius: 77%;
  left: 22px;
  z-index: -1;
}

.card-name-svg {
  top: 106px;
  left: 25px;
  width: 100px;
}
svg > text > textPath{
  font-size: 10px;
}
.card-name-svg text {
  fill: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  top: 105px;
  left: 44px;
}

.card-description {
  font-family: none;
  text-align: center;
  width: 88px;
  font-weight: 500;
  line-height: 10px;
  top: 141px;
  left: 33px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-attack {
  bottom: 6px;
  left: 15px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 23px;
}

.card-health {
  bottom: 5px;
  right: 14px;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 1px black;
  font-size: 23px;
}

.game-card-frame {
  width: 150px;
  min-width: 150px;
}

@media (max-height: 768px) {
  svg > text > textPath{
    font-size: .7rem;
  }
  .game-card-frame {
    width: 60px;
    min-width: 80px;
  }
  
  .card-image {
    width: 57px;
    top: 6px;
    border-radius: 77%;
    left: 16px;
    z-index: -1;
  }


  .card-cost{
    top: 1px;
    left: 6px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 1px black;
    font-size: 2rem;
  }
  .card-name-svg{
    top: 53px;
    left: -10px;
  }
  .card-name-svg text {
    fill: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    top: 105px;
    left: 44px;
  }
  
  .card-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    font-family: none;
    text-align: center;
    width: 46px;
    font-weight: bold;
    top: 76px;
    line-height: 0.6rem;
    left: 17px;
  }
  
  .card-attack {
    bottom: 0px;
    left: 7px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 1px black;
    font-size: 2rem;
  }
  
  .card-health {
    bottom:-2px;
    left: 63px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 1px black;
    font-size: 2rem;
  }
}