.settings-icon {
  bottom: 0;
  right: 0;
  background: #473d63;
  padding: 6px;
  z-index: 15;
}

.game-board {
  background-image: url("/parakrama-board.png");
  background-repeat: no-repeat;
  height: 858px;
  width: 1434px;
}
@media (max-height: 768px) {
  .game-board {
    position: absolute;
    background-size: 715px;
    left: 371px;
    top: 218px;
  }
  .settings-icon {
    bottom: 489px;
    right: 843px;
    width: 26px;
  }
}
