.pause {
    background-image: url(/menu/menu/bg-outer.png);
    background-repeat: no-repeat;
    background-position: revert;
    padding: 6px;
    width: 350px;
    top: 270px;
    left: 502px;
    height: 210px;
    border-radius: 10px;
}

.pause-button {
    background-color: #cdb14de6;
    color: rgb(29, 32, 15);
    padding: 10px 20px;
    border-radius: 5px;
}

.pause-container{
    height: 858px;
    width: 1434px;
    background: #18000045;
    margin-bottom: 10px;
}

.pause-title {
    color: wheat;
    font-size: 1.5rem;
}
